In [1]:
import sqlite3
import pandas as pd

In [2]:
sql_conn = sqlite3.connect("mydb.db")

cur = sql_conn.cursor()

In [3]:
cur.execute("""
CREATE TABLE IF NOT EXISTS students(
  student_id INTEGER PRIMARY KEY,
  student_name VARCHAR(255) NOT NULL,
  rank INTEGER
)
""")

In [5]:
cur.execute("""
INSERT INTO students (student_id,student_name,rank) values
(23156,'lakshmi',23),
(12422,'bhargavi',21),
(35621,'varshita',14),
(62344,'jahnavi',6)
""")

In [6]:
sql_conn.commit()

In [10]:
sql = pd.read_sql_query("SELECT * FROM students",sql_conn)

In [13]:
df = pd.DataFrame(sql,columns = ['student_id','student_name','rank'])

In [14]:
df

   student_id student_name  rank
0       12422     bhargavi    21
1       23156      lakshmi    23
2       35621     varshita    14
3       62344      jahnavi     6

In [16]:
df.set_index('student_id',inplace = True)

In [17]:
df

           student_name  rank
student_id
12422          bhargavi    21
23156           lakshmi    23
35621          varshita    14
62344           jahnavi     6